<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Prime IT Solutions</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<head>
 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K7MTBTQY1P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K7MTBTQY1P');
</script>
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/images/favicon_48x48.png">
<link rel="icon" type="image/png" sizes="64x64" href="/images/favicon_64x64.png">
<link rel="icon" type="image/png" sizes="128x128" href="/images/favicon_128x128.png">
<link rel="icon" type="image/png" sizes="256x256" href="/images/favicon_256x256.png">
<link rel="icon" type="image/png" sizes="512x512" href="/images/favicon_512x512.png">

</head>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


  <%- include('./utils/head.ejs') %>
</head>

<body>
  <!-- header-start-here -->
  <nav class="navbar navbar-expand-lg bg-white custom-nav-wrapper py-3">

    <div class="container">
      <a class="navbar-brand" href="/ ">
        <img src="/images/site-logo.png" alt="" class="img-fluid logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container bottom-spacing" id="home">
    <div class="position-relative">
      <div id="carouselExampleControls" class="carousel slide ">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row align-items-center  justify-content-center main-bg ">
              <div class="col-md-6 ">
                <img src="/images/banner-3.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                  loading="lazy" />
              </div>
              <div class="col-md-6 carousel-text">
                <h1 class="display-5 fw-bold text-body-emphasis mb-3 text-capitalize">
                  <span class="highlighted-texts">better</span> IT for<span class="highlighted-texts">
                    greater</span>
                  business
                </h1>
                <p>
               At Prime IT Solutions, we provide a variety of repair and IT services customized to meet your specific needs.</p>
                <div class="py-md-3">
                  <a href="#contact">
                    <button type="button"
                      class="btn btn-primary btn-lg px-4 me-md-2 rounded shadow btns">
                      Connect
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-center  justify-content-center main-bg">
              <div class="col-md-6">
                <img src="/images/banner-2.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                  loading="lazy" />
              </div>
              <div class="col-md-6 carousel-text">
                <h1 class="display-5 fw-bold text-body-emphasis mb-3 text-capitalize">
                  <span class="highlighted-texts">expert</span> IT services
                  ,<span class="highlighted-texts"> reliable </span>results
                </h1>
                <p>
               Our mission is to deliver dependable and affordable IT solutions, ensuring your technology runs efficiently.
                </p>
                <div>
                  <a href="#contact">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 rounded shadow btns">
                      Connect
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-center main-bg flex-lg-row">
              <div class="col-md-6">
                <img src="/images/person-banner.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                  loading="lazy" />
              </div>
              <div class="col-md-6 carousel-text">
                <h1 class="display-5 fw-bold text-body-emphasis mb-3 text-capitalize">
                  trusted <span class="highlighted-texts">tech</span> repair
                  <span class="highlighted-texts">experts</span>
                </h1>
                <p>
                 Our skilled technicians restore your devices to peak condition, offering quick diagnostics and quality repairs.
                </p>
                <div>
                  <a href="#contact">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 rounded shadow btns">
                      Connect
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-carousel-control">
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="slider-icons" aria-hidden="true">
            <i class="bi bi-arrow-left"></i>
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="slider-icons" aria-hidden="true">
            <i class="bi bi-arrow-right"></i>
          </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>      
    </div>
  </div>


 

  <div class="container  bottom-spacing about " id="about-us"> 
    <div data-aos="fade-up">
    <div class="row align-items-center about-us-section flex-md-column-reverse flex-lg-row " >
      <div class="col-md-12 mb-4 mb-md-0 col-lg-6" >
        <div class="about-imgs">
          <div class="row g-2">
            <div class="col-6">
              <img src="/images/about-us-1.png" alt="Image 1" class="about-img1 img-fluid" />
            </div>
            <div class="col-6">
              <img src="/images/about-us-2.png" alt="Image 2" class="about-img2 img-fluid" />
            </div>
            <div class="col-6 mt-2">
              <img src="/images/about-us-3.png" alt="Image 3" class="about-img3 img-fluid" />
            </div>
            <div class="col-6 mt-2">
              <img src="/images/about-us-4.png" alt="Image 4" class="about-img4 img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="about-content text-center text-md-start">
          <div class="d-flex justify-content-center justify-content-md-center align-items-center">
            <img src="/images/title-shape.png" alt="Title Shape" />
            <h6 class="heading-color mx-2">ABOUT US</h6>
            <img src="/images/title-shape.png" alt="Title Shape" />
          </div>
          <h2 class="py-2 fw-bold">Empowering Your Devices: Crafting Solutions</h2>
          <p>
            Welcome to Prime IT Solutions, where technology meets expertise.
            With a passion for problem-solving and a dedication to exceptional
            service.
          </p>
          <div class="row">
            <div class="col-6">
              <div class="d-flex align-items-center icons">
                <div class="about-icon1 flex-shrink-0">
                  <i class="fa-solid fa-screwdriver-wrench" style="color: #e69233"></i>
                </div>
                <div class="icon-text ms-2">
                  <h5>Expert Techs</h5>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center icons">
                <div class="about-icon2 flex-shrink-0">
                  <i class="fa-solid fa-medal" style="color: #4676c8"></i>
                </div>
                <div class="icon-text ms-2">
                  <h5>Quality Repairs</h5>
                </div>
              </div>
            </div>
            <div class="col-6 mt-3">
              <div class="d-flex align-items-center icons">
                <div class="about-icon2 flex-shrink-0">
                  <i class="fa-solid fa-clock-rotate-left" style="color: #4676c8"></i>
                </div>
                <div class="icon-text ms-2">
                  <h5>Rapid Response</h5>
                </div>
              </div>
            </div>
            <div class="col-6 mt-3">
              <div class="d-flex align-items-center icons">
                <div class="about-icon1 flex-shrink-0">
                  <i class="fa-solid fa-house-laptop" style="color: #e69233"></i>
                </div>
                <div class="icon-text ms-2">
                  <h5>Remote Aid</h5>
                </div>
              </div>
            </div>
          </div>
          <p>
            We offer comprehensive IT services designed to meet your needs.
            Our reliable team specializes in computer and laptop formatting,
            toner refilling, expert repairs, and advanced security solutions
            like CCTV installation. We also provide antivirus installation and
            printer/scanner repairs.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>


  <div data-aos="flip-left">
    <div class="container bottom-spacing features-section" id="features">
      <div class="d-flex align-items-center justify-content-md-center justify-content-lg-start justify-content-center  ">
        <img src="/images/title-shape.png" alt="" />
        <h6 class="heading-color mx-sm-2 mt-sm-2 ">FEATURES</h6>
        <img src="/images/title-shape.png" alt="" />
      </div>
      <h2 class="py-2 text-sm-center">
        Experience Seamless IT Solutions: Your Devices Deserve the Best
      </h2>
      <div class="row py-3">
        <div class="col-md-12 col-lg-4">
          <div class="col-12">
            <div class="d-flex">
              <div class="flex-shrink-0 check-icon">
                <i class="fa-solid fa-check"></i>
              </div>
              <div class="flow-grow-1 ms-3">
                <h4>Exceptional Expertise</h4>
                <p>Expert repairs, installations, and more. Trust us to keep your technology running flawlessly.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex">
              <div class="flex-shrink-0 check-icon">
                <i class="fa-solid fa-check "></i>
              </div>
              <div class="flow-grow-1 ms-3">
                <h4>Client-Driven</h4>
                <p>You're our priority. We tailor our services to meet your needs, ensuring satisfaction and success in
                  every project.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 py-md-3">
          <img src="/images/why-choose.png" alt="" class="img-fluid" />
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="col-12">
            <div class="d-flex">
              <div class="flex-shrink-0 check-icon">
                <i class="fa-solid fa-check"></i>
              </div>
              <div class="flow-grow-1 ms-3 ">
                <h4 class="mt-sm-2">Quality Guaranteed</h4>
                <p>We guarantee quality work, ensuring reliable and lasting IT solutions for all your needs.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex">
              <div class="flex-shrink-0 check-icon">
                <i class="fa-solid fa-check"></i>
              </div>
              <div class="flow-grow-1 ms-3">
                <h4>Passionate Team</h3>
                  <p>Our team is dedicated to delivering the best outcomes, showing our love for what we do in every
                    project</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-3 align-items-center" >
        <div data-aos="fade-up">
          <div class="col-md-12">
            <ul class="why-choose-us-experience">
              <li class="li-bg1">
                <div class="years-experience-wrapper">
                  <h4 class="mb-0">15+</h4>
                  <p class="mb-0">Years Of Experience</p>
                </div>
              </li>
              <li class="li-bg2">
                <div class="years-experience-wrapper">
                  <h4 class="mb-0">56303+</h4>
                  <p class="mb-0">Devices Repaired</p>
                </div>
              </li>
              <li class="li-bg3">
                <div class="years-experience-wrapper">
                  <h4 class="mb-0">100%</h4>
                  <p class="mb-0">Satisfied Customers</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="container bottom-spacing " id="services">
      <div data-aos="fade-up">


      <div class="d-flex justify-content-center align-items-center text-center  " >
        <img src="/images/title-shape.png" alt="" />
        <h6 class="heading-color">OUR SERVICES</h6>
        <img src="/images/title-shape.png" alt="" />
      </div>
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pt-4 bottom-spacing">
  <!-- First 3 services -->
  <div class="col-md-12 col-lg-4 cardclass">
    <div class="card shadow-sm">
      <img src="/images/reparing-parts.jpg" alt="" height="225">
      <div class="card-body">
        <h5 class="heading-color fw-bold">Repairing Parts</h5>
        <p class="card-text">We replace faulty components with premium parts to restore and enhance your devices,
          ensuring smooth, efficient, and reliable performance.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card shadow-sm">
      <img src="/images/virus.jpg" alt="" height="225">
      <div class="card-body">
        <h5 class="heading-color fw-bold">Virus and Malware Removal</h5>
        <p class="card-text">Our expert virus and malware removal services protect your systems from threats,
          keeping your data secure and your devices running efficiently.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card shadow-sm">
      <img src="/images/OS-installation.jpg" alt="" height="225">
      <div class="card-body">
        <h5 class="heading-color fw-bold">OS Installation</h5>
        <p class="card-text">We handle seamless operating system installations, including backups and setup,
          ensuring your devices are updated and configured to your needs.</p>
      </div>
    </div>
  </div>
</div>

<div class="collapse" id="moreServices">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pt-4 bottom-spacing">
    <div class="col-md-12 col-lg-4">
      <div class="card shadow-sm">
        <img src="/images/data recovery.jpg" alt="" height="225">
        <div class="card-body">
          <h5 class="heading-color fw-bold">Data Recovery</h5>
          <p class="card-text">Our specialized data recovery services retrieve lost or accidentally deleted files,
            ensuring your critical information is recovered and safeguarded.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="card shadow-sm">
        <img src="/images/hard disk recovery.jpg" alt="" height="225">
        <div class="card-body">
          <h5 class="heading-color fw-bold">Hard Disk Recovery</h5>
          <p class="card-text">We offer professional hard disk recovery services, retrieving data from damaged or
            corrupted disks using advanced recovery techniques.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="card shadow-sm">
        <img src="/images/HO-networking.jpg" alt="" height="225">
        <div class="card-body">
          <h5 class="heading-color fw-bold">Home and Office Networking</h5>
          <p class="card-text">We design and implement reliable networking solutions tailored for your home or
            office, ensuring robust, secure, and seamless connections.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="card shadow-sm">
        <img src="/images/brkn-screen.jpg" alt="" height="225">
        <div class="card-body">
          <h5 class="heading-color fw-bold">Replacement of Broken PC Screen</h5>
          <p class="card-text">Our screen replacement services restore your PC’s display with high-quality
            screens, bringing your device back to its original clarity and functionality.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="card shadow-sm">
        <img src="/images/old-computer-selling.jpg" alt="" height="225">
        <div class="card-body">
          <h5 class="heading-color fw-bold">Refurbished Desktops & Laptops</h5>
          <p class="card-text">We offer quality refurbished desktops and laptops, thoroughly tested and upgraded,
            providing reliable performance at affordable prices.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="card shadow-sm">
        <img src="/images/cctv instalaation.jpg" alt="" height="225">
        <div class="card-body">
          <h5 class="heading-color fw-bold">CCTV Camera Installation</h5>
          <p class="card-text">We install CCTV cameras to secure your property, providing comprehensive coverage
            and ensuring optimal performance, all tailored for your peace of mind.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- "View Less" button is moved outside of the collapse to ensure it stays visible at the bottom -->
<div class="text-center mt-3">
  <a class="btn btns" data-bs-toggle="collapse" href="#moreServices" role="button" aria-expanded="false"
    aria-controls="moreServices" id="toggleButton">
    View More
  </a>
</div>

<!-- JavaScript for toggling button text -->
<script>
  var toggleButton = document.getElementById('toggleButton');
  var moreServices = document.getElementById('moreServices');

  moreServices.addEventListener('show.bs.collapse', function () {
    toggleButton.textContent = 'View Less';
  });

  moreServices.addEventListener('hide.bs.collapse', function () {
    toggleButton.textContent = 'View More';
  });
</script>
      </div>
    </div>
  
    <div class="container bottom-spacing" id="contact">
      <div data-aos="fade-up">
      
      <div class="row align-items-center  ">
        <div class="col-md-12 col-lg-6">
          <div class="contact-img">
            <img src="/images/schedule.png" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-md-12 col-lg-6 py-md-5 py-sm-5">
          <div class="contact-form py-3">

            <div class="d-flex align-items-center justify-content-md-center justify-content-lg-start justify-content-center ">
              <img src="/images/title-shape.png" alt="" />
              <h6 class="heading-color">CONTACT US </h6>
              <img src="/images/title-shape.png" alt="" />
            </div>
            <div class="lh-lg">
              <H2>Schedule Expert Repairs Instantly</H2>

              <form action="/contact" method="POST" class="lh-lg">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="name" class="form-label fw-bold">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your name" required>
                  </div>
                  <div class="col-md-6">
                    <label for="subject" class="form-label fw-bold">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-12">
                    <label for="contactInfo" class="form-label fw-bold">Contact Information</label>
                    <input type="text" class="form-control" id="contactInfo" name="contactInfo"
                      placeholder="Your contact information">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-12">
                    <label for="message" class="form-label fw-bold">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="4" placeholder="Write message"
                      required></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2 rounded shadow btns form-button">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
  <div data-aos="flip-left">
    <div class="container bottom-spacing" id="gallery">
      <div class="our-gallery">
        <div class="gallery-text ">
          <div class="d-flex align-items-start justify-content-center">
            <img src="/images/title-shape.png" alt="" />
            <h6 class="heading-color"> OUR GALLERY </h6>
            <img src="/images/title-shape.png" alt="" />
          </div>
          <h2 class="text-center">Digital Delights: Journey Through Our Gallery</h2>
        </div>


        <div class="row py-3 gallery">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="/images/prime1.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

            <img src="/images/prime12.PNG" class="w-100 shadow-1-strong rounded mb-4 "  height="548" alt="Wintry Mountain Landscape" />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="/images/prime3.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

            <img src="/images/prime4.png" class="w-100 shadow-1-strong rounded mb-4"   alt ="Boat on Calm Water" />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="/images/prime6.png" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

            <img src="/images/prime5.png" class="w-100 shadow-1-strong rounded mt-3 last-pic" alt="Yosemite National Park"
              height="530" />
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- Footer 7 - Bootstrap Brain Component -->
  <footer class="footer">

    <!-- Widgets - Bootstrap Brain Component -->
    <section class="py-4 py-md-5">
      <div class="container overflow-hidden">
        <div class="row">
          <div class="col-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-lg-4">
                  <div class="widget p-3 p-md-4 p-xxl-5">
                    <h4 class="widget-title mb-4">Get in Touch</h4>
                    <address class="mb-4 footer-body">C-604, 6th Floor , Shrushti Residency , Type 'C' Behind R K Tower
                      , Near 90 Feet Road ,Thakurli(E) 421 201</address>
                    <p class="mb-1">
                      <a class="link-dark link-offset-1 footer-body link-opacity-75 link-opacity-100-hover link-underline-opacity-0 link-underline-opacity-100-hover"
                        href="tel:+91 7700049511">+91 7700049511</a>
                    </p>
                    <p class="mb-0">
                    <p class="link-dark link-offset-1  footer-body link-opacity-75 link-opacity-100-hover link-underline-opacity-0 link-underline-opacity-100-hover"
                      href="mailto:primeitsolutions21@gmail.com">primeitsolutions21@gmail.com</p>
                    </p>
                  </div>
                </div>

                <div class="col-xs-12 col-lg-4 links">
                  <div class="widget p-3 p-md-4 p-xxl-5">
                    <h4 class="widget-title mb-4">Services</h4>
                    <ul class="list-unstyled m-0 p-0 footer-body">
                      <li class="mb-2">
                        <a href="#about-us"
                          class="link-dark link-offset-1 link-opacity-75-hover link-underline-opacity-0 link-underline-opacity-100-hover foot-links">About
                          us</a>
                      </li>
                      <li class="mb-2">
                        <a href="#features"
                          class="link-dark link-offset-1 link-opacity-75-hover link-underline-opacity-0 link-underline-opacity-100-hover foot-links">Features</a>
                      </li>
                      <li class="mb-2">
                        <a href="#services"
                          class="link-dark link-offset-1 link-opacity-75-hover link-underline-opacity-0 link-underline-opacity-100-hover foot-links">Services</a>
                      </li>
                      <li class="mb-2">
                        <a href="#contact"
                          class="link-dark link-offset-1 link-opacity-75-hover link-underline-opacity-0 link-underline-opacity-100-hover foot-links">Contact
                          us</a>
                      </li>
                      <li class="mb-0">
                        <a href="#gallery"
                          class="link-dark link-offset-1 link-opacity-75-hover link-underline-opacity-0 link-underline-opacity-100-hover foot-links">Gallery</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-xs-12 col-lg-4">
                  <div class="widget p-3 p-md-4 p-xxl-5">
                    <h4 class="widget-title mb-4">Opening :</h4>
                    <p class="mb-4 footer-body">We always aim to provide a welcoming environment to deliver exceptional
                      service everyday.</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Colophon - Bootstrap Brain Component -->
    <div class="pb-4 pb-md-5">
      <div class="container overflow-hidden">
        <div class="row">
          <div class="col">
            <div class="container-fluid ">
              <div class="row  align-items-md-center justify-content-between align-items-center  flex-md-column gap-md-3">
                <div class="col-xs-12 col-sm-6 col-lg-4 order-0 order-lg-0 col-md-12 ">
                  <div class="footer-logo-wrapper text-center text-sm-start text-md-center">
                    <a href="/">
                      <img src="/images/site-logo.png" alt="BootstrapBrain Logo" width="175" height="57"
                        class="foot-logo ">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>