@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 46px;
  line-height: normal;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
h3 {
  font-size: 28px;
  line-height: normal;
  font-weight: 700;
}
h4 {
  font-size: 22px;
  line-height: normal;
  font-weight: 700;
}
h5 {
  font-size: 18px;
}
.heading-color {
  color: #e61d0b;
}
.heading-color2 {
}
.custom-nav-wrapper .navbar-brand {
  width: 100px;
}
.nav-item a:hover {
  color: #e61d0b;
}

.main-bg {
  background-color: #ffebe4;
  position: relative;
}
.btns {
  background-color: #f3580a;
  border: none;
  color: white;
}
.btns:hover {
  background-color: #e61d0b;
  color: white;
}
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
}
.card {
  transition: all ease-in 0.5s;
}
.card:hover {
  background-color: #f8e8e2;
  transform: translateY(-5px);
  cursor: pointer;
}
.foot-logo {
  width: 9rem;
  height: 9rem;
}
.days-color {
  color: white;
}

p {
  font-size: 16px;
  color: #777777;
}
.slider-icons {
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid orange;

  color: grey;
}
.slider-icons:hover {
  background-color: #e61d0b;
  color: white;
}
.highlighted-texts {
  font-style: italic;
  color: #f3580a;
}
a.link-dark.link-offset-1.link-opacity-75-hover.link-underline-opacity-0.link-underline-opacity-100-hover {
  color: #d9d9d8 !important;
}
.footer-body {
  color: #d9d9d8 !important;
}

.about-img1 {
  border-radius: 0px 165px 0px 0px;
  max-width: 100%;
  height: auto;
}
.about-img2 {
  max-width: 100%;
  height: auto;
  border-radius: 0px 0px 200px 200px;
  position: relative;
  bottom: -8px;
}
.about-img3 {
  max-width: 100%;
  height: auto;
  border-radius: 200px 200px 0px 0px;
}
.about-img4 {
  max-width: 100%;
  height: auto;
  border-radius: 0px 0px 0px 165px;
}
.about-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-icon1 {
  width: 70px;
  font-size: 40px;
  height: 70px;
  background-color: #ffebe4;
  text-align: center;
  border-radius: 10px;
  line-height: 70px;
  display: inline-block;
  transition: all ease 0.5s;
}

.about-icon2 {
  width: 70px;
  font-size: 40px;
  height: 70px;
  background-color: #e7e9ff;
  text-align: center;
  border-radius: 10px;
  line-height: 70px;
  display: inline-block;
  transition: all ease 0.5s;
}
.icons {
  margin-bottom: 25px;
}
.footer-icon {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  background-color: #ffebe4;
  color: #f15523 !important ;
  transition: all ease 0.8s;
}

.footer-icon:hover {
  color: white !important;
  background-color: #f3580a;
}
.icon-color:hover {
  color: white;
}
.about-content {
  padding: 20px 0px;
}
.about-icon1:hover {
  background-color: #f3580a;
}
.about-icon2:hover {
  background-color: darkblue;
}
.about-content i:hover {
  color: white !important;
  transition: all ease-in-out 0.5s;
}
.check-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  transition: all ease 0.5s;
  background-color: #ffebe4;
  color: #f3580a;
  border-radius: 50px;
}
.check-icon:hover {
  background-color: #f3580a;
  color: white !important;
}
.li-bg1,
.li-bg2,
.li-bg3 {
  padding: 20px 40px;
  border-radius: 100px;
  text-align: center;
}
.footer {
  background-color: #0d003b;
}
.footer h4 {
  color: white;
}
.li-bg1 {
  background-color: #f6f7ff;
}
.li-bg2 {
  background-color: #fff8f5;
}
.li-bg3 {
  background-color: #f6f7ff;
}
.years-experience-wrapper h4 {
  color: #f3580a;
  font-size: 40px;
}

a.link-dark.link-offset-1.link-opacity-75-hover.link-underline-opacity-0.link-underline-opacity-100-hover:hover,
.link-underline-opacity-100-hover:hover {
  color: #f3580a !important;
}
.years-experience-wrapper p {
  font-weight: 600;
}

.why-choose-us-experience {
  display: grid;
  gap: 100px;
  position: relative;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 0px;
}

.why-choose-us-experience:before {
  content: "";
  border-top: 7px dotted #000;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(10%, -50%);
  width: 80%;
  z-index: -1;
}
.bottom-spacing {
  margin-bottom: 4rem;
}
.gallery-imgs {
  border-radius: 20px;
  height: 370px;
  margin-bottom: 20px;
  object-fit: cover;
}
input.form-control:focus {
  border-color: #f3580a;
  box-shadow: 0 0 5px #f3580a; /* Optional: adds a shadow */
  outline: none; /* Removes the default outline */
}
textarea.form-control:focus {
  border-color: #f3580a; /* Replace with your desired color */
  box-shadow: 0 0 5px #f3580a; /* Optional: adds a shadow */
  outline: none; /* Removes the default outline */
}
/* Default for very large screens (>= 1440px) */
h1 {
    font-size: 52px;
}
h2 {
    font-size: 44px;
}
h3 {
    font-size: 38px;
}
h4 {
    font-size: 32px;
}
h5 {
    font-size: 28px;
}
h6 {
    font-size: 24px;
}
p {
    font-size: 20px;
}

/* Large screens (1200px - 1439px) */
@media (max-width: 1439px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 34px;
    }
    h4 {
        font-size: 28px;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
}

/* Medium screens (992px - 1199px) */
@media (max-width: 1199px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 34px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
}

/* Small screens (768px - 991px) */
@media (max-width: 991px) {
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }
    p {
        font-size: 15px;
    }
}

/* Extra small screens (576px - 767px) */
@media (max-width: 767px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
}

/* Very small screens (415px - 575px) */
@media (max-width: 575px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
}

/* Smallest screens (315px - 414px) */
@media (max-width: 414px) {
    h1 {
        font-size: 22px !important;
    }
    h2 {
        font-size: 20px !important;
    }
    h3 {
        font-size: 18px !important;
    }
    h4 {
        font-size: 16px !important;
    }
    h5 {
        font-size: 14px !important;
    }
    h6 {
        font-size: 12px !important;
    }
    p {
        font-size: 12px !important;
    }
}

/* Ultra small screens (<= 315px) */
@media (max-width: 315px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 14px;
    }
    h5 {
        font-size: 12px;
    }
    h6 {
        font-size: 10px;
    }
    p {
        font-size: 10px;
    }
}


/* Default Styles (Desktop) */
h1 {
  font-size: 2.5rem; /* 40px */
}
.gallery img {
  border: 2px solid #f3580a;
}

h2 {
  font-size: 2rem; /* 32px */
}

h3 {
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.5rem; /* 24px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

h6 {
  font-size: 1rem; /* 16px */
}

p {
  font-size: 1rem; /* 16px */
}

.custom-carousel-control {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 12px;
}

.custom-carousel-control button.carousel-control-prev,
.custom-carousel-control button.carousel-control-next {
  position: unset;
  width: auto;
}
.why-choose-us-experience li {
  margin-bottom: 20px;
}

.years-experience-wrapper h4, .years-experience-wrapper p {
  text-align: center;
}
@media (max-width: 575.98px) {

  .why-choose-us-experience {
    grid-template-columns: 1fr; /* Stack elements vertically */
    gap: 20px;
  }
  /* Responsive Font Sizes for 575px or smaller */
h1 {
    font-size: 24px;  /* Main Heading */
}

h2 {
    font-size: 22px;  /* Sub-Heading */
}

h3 {
    font-size: 20px;  /* Section Heading */
}

h4 {
    font-size: 18px;  /* Smaller Heading */
}

h5 {
    font-size: 16px;  /* Minor Heading */
}

h6 {
    font-size: 14px;  /* Smallest Heading */
}

p {
    font-size: 14px;  /* Paragraph */
}

.card img{
  object-fit:cover;
}
.features-section h2{
  text-align: center;
}
.card-body{
  text-align: center;
}
.lh-lg h2{
  text-align: center;
}
  .form-button {
    text-align: center !important;
  }
 

  .gallery-imgs {
    height: auto; /* Allow the images to scale down */
    margin-bottom: 15px;
  }

  .about-icon1, .about-icon2 {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  .why-choose-us-experience {
    grid-template-columns: 1fr ; /* Two columns on tablets */
    gap: 30px;
  }
  .cardclass{
    display: flex;
    gap:30px;
  }
  
.row-cols-sm-2>* {
    flex: 0 0 auto;
    width: 100%;
}
.card img{
  object-fit: cover;
}
  
 

  .about-icon1, .about-icon2 {
    width: 60px;
    height: 60px;
    font-size: 35px;
    line-height: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .why-choose-us-experience {
    grid-template-columns: 1fr 1fr 1fr; /* Three columns */
    gap: 50px;
  }
  .about-us-section{
    display: flex;
    flex-direction: column;
  }
  


  .about-icon1, .about-icon2 {
    width: 70px;
    height: 70px;
    font-size: 40px;
    line-height: 70px;
  }
  .heading-color{
    text-align: center !important;
  }
  .about-content p , h2{
    text-align: center;
  }
.why-choose-us-experience {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; /* Centers the content horizontally */
}

.why-choose-us-experience li {
  width: 100%;
  padding: 20px 40px;
  border-radius: 100px;
  background-color: #f6f7ff; /* Change the background color accordingly */
  text-align: center; /* Centers the text */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the content vertically */
}

.years-experience-wrapper h4, 
.years-experience-wrapper p {
  margin-bottom: 0;
  
  font-weight: bold;
}
.card img{
  object-fit: cover;
}
.gallery img{
  object-fit: cover;
}
h1{
  font-size: 34px !important;
}

}

/* Large Devices (992px and Up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .why-choose-us-experience {
    grid-template-columns: 1fr 1fr 1fr; /* Three columns */
    gap: 80px;
  }
  
  .about-img1, .about-img2, .about-img3, .about-img4 {
    border-radius: 0px 165px 0px 0px;
  }

  .about-icon1, .about-icon2 {
    width: 70px;
    height: 70px;
    font-size: 40px;
    line-height: 70px;
  }
}

@media (min-width: 1200px) {

  .why-choose-us-experience {
    grid-template-columns: 1fr 1fr 1fr; /* Three columns */
    gap: 100px;
  }
  


  .about-icon1, .about-icon2 {
    width: 70px;
    height: 70px;
    font-size: 40px;
    line-height: 70px;
  }
}
.bottom-spacing {
  margin-bottom: 4rem; /* Default spacing for larger screens */
}

/* Medium screens */
@media (max-width: 1024px) {
  .bottom-spacing {
    margin-bottom: 3rem; /* Adjust for tablets or medium screens */
  }
  .last-pic{
    height: 439px;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .bottom-spacing {
    margin-bottom: 2rem; /* Adjust for small screens like mobile devices */
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  .bottom-spacing {
    margin-bottom: 1rem; /* Adjust for very small screens */
  }
  .foot-
  {
    width: 6rem;
    height: 5rem
  }
  .carousel-text{
    padding:20px 0px;
    text-align: center;
  }
  .carousel-text p{
    text-align: center;
    padding: 10px 15px;
    margin: 0px !important;
  }
  .carousel-text h1{
        text-align: center;
    margin: 0px !important;
  }
  P{
    font-size: 14px;
  }
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 22px;
  }
  h6{
    font-size: 15px;
  }
  h5{
    font-size: 16px;
  }
  h4{
    font-size: 18px;
  }
  .icon-text h5{
    text-align: start;
  }
  .heading-color{
    text-align: center;
  }
  .features-section h2{
    text-align: center;
  }
      .check-icon {
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
        font-size: 12px;
    }
    .contact-form h2{
      text-align: center;
    }
     a , address {
      font-size: 14px;
     }
}
.btns {
  font-size: 1rem; /* Default font size */
  padding: 0.5rem 1rem; /* Default padding */
}
.footer-icons{
      width: 30px;
    height: 30px;
    line-height: 30px;
}

/* Medium screens */
@media (max-width: 1024px) {
  .btns {
    font-size: 1rem; /* Smaller font size for medium screens */
    padding: 0.4rem 0.8rem; /* Adjusted padding */
  }
}

/* Small screens */
@media (max-width: 768px) {
  .btns {
    font-size: 1rem; /* Even smaller font size for small screens */
    padding: 0.3rem 0.6rem; /* Further adjusted padding */
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  .btns {
    font-size: 0.75rem; /* Smallest font size for very small screens */
    padding: 0.2rem 0.4rem; /* Minimum padding */
  }
  @media (max-width: 768px) {
    .check-icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }
}
}
@media   (max-width: 767px) {
h1{
  font-size:23px !important
}
 .carousel-text{
    padding:20px 0px;
    text-align: center;
  }
  .carousel-text p{
    text-align: center;
    padding: 10px 15px;
    margin: 0px !important;
  }
  .carousel-text h1{
        text-align: center;
    margin: 0px !important;
  }
  p{
    font-size: 15px !important;
  }
  .foot-logo{
    width: 7rem;
    height: 6rem;
    text-align: center;
  }
  .card{
    flex-direction: column !important;
  }

}
  
@media (max-width: 301px) {
 h1 {
    font-size: 1.8rem; /* 28.8px */
  }
  h2 {
    font-size: 1.6rem; /* 25.6px */
  }
  h3 {
    font-size: 1.4rem; /* 22.4px */
  }
  h4 {
    font-size: 1.2rem; /* 19.2px */
  }
  h5 {
    font-size: 1rem; /* 16px */
  }
  h6 {
    font-size: 0.9rem; /* 14.4px */
  }
  p {
    font-size: 0.85rem; /* 13.6px */
  }
}
.logo {
  width: 5rem;  /* Default width (80px) for extra small screens */
  height: auto; /* Maintains aspect ratio */
}

@media (min-width: 375px) {
  .logo {
    width: 5.5rem; /* Small screen (375px) (88px) */
  }
}

@media (min-width: 414px) {
  .logo {
    width: 6rem; /* Small screen (414px) (96px) */
  }
}

@media (min-width: 576px) {
  .logo {
    width: 6.5rem; /* Small screen (sm) and up (104px) */
  }
}

@media (min-width: 768px) {
  .logo {
    width: 7rem; /* Medium screen (md) and up (112px) */
  }
}

@media (min-width: 992px) {
  .logo {
    width: 8rem; /* Large screen (lg) and up (128px) */
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 9rem; /* Extra large screen (xl) and up (144px) */
  }
}





